## Python Basics Assignment 1

Assignment can be found here: [Assignment](https://drive.google.com/file/d/1RjQBjq90BeqNuon_JUlrih7Tnda732cs/view)

# 1.  In the below elements which of them are values or an expression? **eg:-** values can be integer or string and expressions will be mathematical operators. 
<br>`*`,`'hello'`, `-87.8`,`-`,`/`,`+`,`6`

Ans: There are total 4 expressions and 3 Values.<br>


*   Expressions: `*`, `-`, `/`, `+`
*   Values: `'hello'`, `-87.8`, `6`

#2. What is the difference between string and variable?

Ans: 


*   Variable is an entity which is used to hold information. A variable is created whenever a value is assigned to it.<br> E.g  `x = 10`, `y = 20` In this case x and y are 2 variables holding numeric values/information.
*   String is a character or group of character enclosed in a single or double quotes. <br>
`String1 = 'Hello world!'`, `String2 = 'A'` In this case 'Hello world!' and 'A' are 2 examples of string.

#3. Describe three different Data Types ?

Ans: Python supports multiple data types some of them are: numeric, boolean, sequence <br>


1.   Numeric: This data type includes all the numeric values such as poitive or negative integer/floating numbers and complex numbers. E.g `num_var = 9.8`
2.   Boolean: This data type includes only 2 values TRUE and FALSE, boolean data types are useful during conditional operations to execute a set of statements. It is denoted by the class bool.
3.   Sequence: sequence is a group of similar or different data types. Sequences allows to store multiple values in an organized and efficient manner. String, list and tuples are examples of sequence data type. E.g `List1 = [1,2,3,4,5,'Hello']`

#4. What is an expression made up of? What do all expressions do?

Ans: An expression is a combination of values, variables, operators and 
operands that is interpreted to produce some other value. Expressions are evaluated as per the precedence of its operators.<br>
There are various types of expressions such as arithmatic expressions, logical expressions and bitwise operations.

#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans:


*   Expression: An expression is a combination of values, variables, operators and operands that is interpreted to produce some other value. Expressions are evaluated as per the precedence of its operators.<br> E.g `10/2` is an expression which can be evaluated.
*   Statement: A statement is an instruction that a Python interpreter can execute. There are mainly four types of statements in Python, Print statements, Assignment statements, Conditional statements and Looping statements.<br> E.g. `spam = 10` is an assignment statement

#6. After running the following code, what does the variable bacon contain?<br>
`bacon = 22`<br>
`bacon + 1`

Ans: The variable bacon is set to 22. As the reassignment is not done the value of bacon remains 22.

In [ ]:
bacon = 22
bacon + 1
print(bacon)

22

#7. What should the values of the following two terms be?<br>
`'spam'+'spamspam'`<br>
`'spam'*3`

Ans:
*   `'spam'+'spamspam'` is an example of string concatentation.
*   `'spam'*3` is an example of string multiplication

These both statements result in: `spamspamspam`

In [ ]:
print('spam'+'spamspam') # string concatenation
print('spam'*3)          # string multiplication

spamspamspam
spamspamspam

#8. Why is eggs a valid variable name while 100 is invalid?

Ans: In Python, Variable names cannot begin with a number.<br>
Rules for Python variables:<br>
1.   A variable name must start with a letter or the underscore character
2.   A variable name cannot start with a number
3.   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4.   Variable names are case-sensitive (var, Var and VAR are three different variables)
5.   The reserved keywords cannot be used naming the variable E.g `List`, `Dict`.

In [ ]:
egg='Eggs'      # Valid variable Initilization
print(egg)      # Displays the value of egg ie Ineuron
100='hundred'   # Raises a Syntax Error as 100 is not a valid variable name

#9. What three functions can be used to get the integer,floating-point number,or string version of a value?

Ans: The `int()`, `float()` and `str()` functions will return integer,floating-point number,string version of the value passed to them.<br>
This is also known as type casting of the variables.

In [ ]:
print('int() function converts given input 6.1 to int',int(6.1))
print('float() function converts given input 61 to float',float(61)) 
print('str() function converts given input 61 to string',str(61))

int() function converts given input 6.1 to int 6
float() function converts given input 61 to float 61.0
str() function converts given input 61 to string 61

#10. Why does this expression cause an error? how can you fix it?<br>
`'I have eaten ' + 99 + 'burritos.'`

Ans: We are getting an error because 99 is not a string and we are trying to concatenate a string with an integer which is not allowed.<br>
To resolve this issue we can simply typecast the int 99 into a string and then perform the concatenation operation.

In [ ]:
print('I have eaten '+str(99)+' burritos') # Coorect wayt to concatenate the string with an int/float

I have eaten 99 burritos